.codeBox {
  align-items: center;
  background-color: var(--white);
  border-radius: 2.5rem;
  box-shadow: 0.5rem 0.5rem 2rem grey;
  display: flex;
  justify-content: center;
  height: 9.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  width: 42.1rem;
}

.codeBox__code {
  font-family: Poppins, sans-serif;
  font-size: 4.8rem;
}
