.usersList {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.usersList__item {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usersList__item__img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .usersList {
    flex-direction: column;
    margin-top: 5rem;
  }

  .usersList__item {
    margin-top: 5rem;
  }
}
